/*EKRAN DAHA BOYUK OLARSA*/
@media (min-width: 1450px) {
    /*umumi saytin arxa plani*/
    body {
        background-color: rgba(230, 230, 220);
    }

    /*umumi saytin melumatlar olan hissesi*/
    .site-body {
        margin: 0 10%;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        padding: 20px 20px 0 20px;
    }

    /*asagidaki melumatlar*/
    .footer {
        width: calc(100% + 40px); /*site body padding 20px olduguna gore footer-in kenara dasmamasi ucun*/
        margin-left: -20px;
    }
}


@media (min-width: 1750px) {
    /*umumi saytin melumatlar olan hissesi*/
    .site-body {
        margin: 0 15%;
    }
}

/*EKRAN DAHA KICIK OLARSA*/
/*kursorun etrafindaki daire olmasin*/
@media (max-width: 1300px) {
    .cursor-circle {
        display: none;
    }
}

@media (max-width: 1150px) {
    /*AUDIO CATEGORY*/
    /*texts*/
    .audio-category-wrapper .item p {
        font-size: 10px;
        margin: 0;
        line-height: 1.3;
        width: 80%;
        text-transform: uppercase;
    }

    .audio-category-wrapper .circle-item .left-item .item p {
        text-align: left;
        transform: translate(90px, -50px);
    }

    .audio-category-wrapper .circle-item .right-item .item p {
        text-align: right;
        transform: translate(-80px, -50px);
    }
}

@media (max-width: 1050px) {
    /*HEADER*/
    /*headphone gostericileri*/
    .start-header .content .bottom-left-content .line-horizontal {
        width: 70px;
    }

    .start-header .content .bottom-right-content .line-horizontal {
        width: 70px;
    }

    /*merkezdeki yazilar*/
    .start-header .content .center-content .medal-icon {
        margin-top: 150px;
    }

    .start-header .content .center-content .site-header {
        font-size: 55px;
        margin-top: 70px;
    }

    /*YEARS CATEGORY*/
    /*contents*/
    .years-category .contents .content {
        flex-direction: column;
    }

    /*content picture*/
    .years-category .contents .content .picture {
        display: none;
    }

    /*texts*/
    .years-category .contents .content .texts {
        width: 100%;
        text-align: center;
    }

    .years-category .contents .content .texts .header {
        font-size: 50px;
    }

    .years-category .contents .content .texts .year-texts {
        font-size: 20px;
    }

    .years-category .contents .content .texts .text {
        font-size: 20px;
    }

    /*PICTURES CATEGORY*/
    .pictures-category .category {
        margin: 100px 10%;
    }

    /*FOOTER*/
    .footer {
        gap: 50px;
    }
}

@media (max-width: 920px) {
    /*HEADER*/
    /*merkezdeki headphone image*/
    .start-header .headphone-image {
        background-size: 120%;
    }

    /*header*/
    .start-header .content {
        margin: 0;
    }

    /*yuxari soldaki gostericiler*/
    .start-header .content .top-left-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        left: 0;
        right: 0;
    }

    .start-header .content .top-left-content .counter {
        font-size: 30px;
    }

    .start-header .content .top-left-content .customer-ratings {
        margin-top: 0;
    }

    /*asagi sagdaki gosterici*/
    .start-header .content .bottom-left-content {
        display: none;
    }

    /*yuxari sagdaki gosterici*/
    .start-header .content .top-right-content {
        display: none;
    }

    /*asagi sagdaki gosterici*/
    .start-header .content .bottom-right-content {
        display: none;
    }

    /*merkezdeki medal ikonu*/
    .start-header .content .center-content .medal-icon {
        margin-top: 200px;
    }

    /*merkezdeki basliq yazisi*/
    .start-header .content .center-content .site-header {
        font-size: 50px;
        margin-top: 50px;
    }

    /*NEW LAUNCHES*/
    .new-launches {
        margin-top: 100px;
    }

    .new-launches .launches {
        padding: 0 50px;
    }

    /*AUDIO CATEGORY*/
    /*temel*/
    .audio-category {
        height: 750px;
    }

    .circle-item {
        height: 450px;
    }

    /*sag ve sol yarimkureler*/
    .audio-category-wrapper .left-item {
        transform: translateX(30px);
    }

    .audio-category-wrapper .right-item {
        transform: translateX(-30px);
    }

    /*cerciveler*/
    .audio-category-wrapper .center {
        width: 360px;
        height: 360px;
        border: 1px solid rgba(150, 150, 150, 1);
    }

    /*cercive etrafindaki daireler*/
    .audio-category-wrapper .items {
        position: absolute;
        left: -30px;
        top: 13px;
    }

    .audio-category-wrapper .left-item .item {
        top: 150px;
        left: 150px;
        transform: rotate(calc(-40deg + 20deg * var(--i))) translate(180px) rotate(calc(40deg - 20deg * var(--i)));
        width: 120px;
    }

    .audio-category-wrapper .right-item .item {
        top: 150px;
        left: 150px;
        transform: rotate(calc(140deg + 20deg * var(--i))) translate(180px) rotate(calc(-140deg - 20deg * var(--i)));
        width: 120px;
    }

    /*dairelerin icindeki iconlar*/
    .audio-category-wrapper .icon {
        width: 30px;
        height: 30px;
        outline: 3px solid white;
        font-size: 16px;
        margin: 0 auto 8px;
    }

    /*dairelerin kenarindaki yazilar*/
    .audio-category-wrapper .circle-item .left-item .item p {
        transform: translate(90px, -35px);
    }

    .audio-category-wrapper .circle-item .right-item .item p {
        transform: translate(-70px, -35px);
    }

    /*merkezdeki sekil*/
    .audio-category-wrapper .center-picture .center-image {
        width: 175px;
    }

    /*overlay*/
    .audio-category-wrapper .overlay {
        height: 65px;
    }

    .audio-category-wrapper .overlay-top {
        transform: translateY(125px);
        background: linear-gradient(to bottom, transparent, white, white);
    }

    .audio-category-wrapper .overlay-bottom {
        transform: translateY(-195px);
        background: linear-gradient(to bottom, white, white, transparent);
    }

    /*explore button*/
    .audio-category-wrapper .explore-button {
        width: 270px;
        transform: translateY(170px);
    }

    /*YEARS CATEGORY*/
    .years-category .contents .content .texts .header {
        font-size: 40px;
    }

    .years-category .contents .content .texts .year-texts {
        font-size: 18px;
    }

    .years-category .contents .content .texts .text {
        font-size: 18px;
    }

    /*FOOTER*/
    .footer {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .footer .icons {
        display: none;
    }
}

@media (max-width: 750px) {
    /*merkezdeki headphone image*/
    .start-header .headphone-image {
        background-size: 130%;
    }

    /*merkezdeki medal ikonu*/
    .start-header .content .center-content .medal-icon {
        margin-top: 200px;
    }

    /*merkezdeki basliq yazisi*/
    .start-header .content .center-content .site-header {
        font-size: 45px;
        margin-top: 30px;
    }

    /*merkezdeki basligin altindaki yazi*/
    .start-header .content .center-content .subtitle {
        width: 200px;
    }

    /*ALL HEADER TEXTS*/
    .category-header {
        width: 300px;
    }

    .small-header {
        font-size: 14px;
    }

    .big-header {
        font-size: 30px;
    }

    /*NEW LAUNCHES*/
    /*temel*/
    .new-launches {
        margin-top: 100px;
    }

    .new-launches .launches {
        flex-direction: column;
        padding: 0 150px;
        margin-top: 30px;
    }

    /*product*/
    .new-launches .launches .launches-link {
        width: 100%;
    }

    .new-launches .launches .launches-link .product .image {
        height: 300px;
    }

    /*AUDIO CATEGORY*/
    .audio-category {
        margin-top: 600px;
    }

    /*PICTURES CATEGORY*/
    .pictures-category .category {
        margin: 100px 5%;
    }

    .pictures-category .category .picture-1 {
        height: 300px;
    }
}

@media (max-width: 650px) {
    /*merkezdeki headphone image*/
    .start-header .headphone-image {
        margin-top: -100px;
        background-size: 140%;
    }

    /*merkezdeki medal ikonu*/
    .start-header .content .center-content .medal-icon {
        margin-top: 20px;
    }

    /*merkezdeki basliq yazisi*/
    .start-header .content .center-content .site-header {
        margin-top: 20px;
    }

    /*NEW LAUNCHES*/
    .new-launches {
        margin-top: -30px;
    }

    .new-launches .launches {
        flex-direction: column;
        padding: 0 50px;
    }

    /*AUDIO CATEGORY*/
    /* dairelerin kenarindaki yazilar */
    .audio-category {
        display: none;
    }

    /*YEARS CATEGORY*/
    .years-category {
        margin-top: 650px;
    }

    /*texts*/
    .years-category .contents .content .texts .header {
        font-size: 30px;
    }

    .years-category .contents .content .texts .year-texts {
        font-size: 17px;
    }

    .years-category .contents .content .texts .text {
        font-size: 17px;
    }

    /*years cubugu*/
    .years-category .years-line .circles .circle-item {
        width: 10px;
        height: 10px;
    }

    .years-category .years-line .circles {
        transform: translate(-5px, -5px);
    }

    .years-category .years-line .circles .circle-item p {
        transform: translateY(30px);
    }

    /*USER POPUP*/
    .user-login-popup .popup .popup-content {
        width: 300px;
    }

    .user-login-popup .popup {
        left: calc(50% - 150px);
        top: calc(50% - 200px);
    }

    .user-login-popup .popup .popup-content .login-form input {
        width: 250px;
    }
}

@media (max-width: 500px) {
    /*merkezdeki headphone image*/
    .start-header .headphone-image {
        margin-top: -250px;
        background-size: 80%;
    }

    /*merkezdeki medal ikonu*/
    .start-header .content .center-content .medal-icon {
        margin-top: 180px;
    }

    /*merkezdeki basliq yazisi*/
    .start-header .content .center-content .site-header {
        font-size: 35px;
        margin-top: 200px;
    }

    /*merkezdeki basligin altindaki yazi*/
    .start-header .content .center-content .subtitle {
        font-size: 14px;
        width: 170px;
    }

    /*ALL HEADER TEXTS*/
    .category-header {
        width: 250px;
    }

    .small-header {
        font-size: 13px;
    }

    .big-header {
        font-size: 25px;
    }

    /*NEW LAUNCHES*/
    .new-launches .launches {
        flex-direction: column;
        padding: 0 20px;
    }

    /*YEARS CATEGORY*/
    .years-category .contents .content .texts .header {
        font-size: 25px;
    }

    .years-category .contents .content .texts .year-texts {
        font-size: 15px;
    }

    .years-category .contents .content .texts .text {
        font-size: 15px;
    }

    .years-category .years-line .circles .circle-item p {
        transform: translateY(20px);
        font-size: 13px;
    }

    /*FOOTER*/
    .footer {
        padding: 50px 20px;
    }
}

@media (max-width: 400px) {
    /*YEARS CATEGORY*/
    .years-category .contents .content .texts .header {
        font-size: 22px;
    }

    .years-category .contents .content .texts .year-texts {
        font-size: 13px;
    }

    .years-category .contents .content .texts .text {
        font-size: 13px;
    }

    .years-category .years-line .circles .circle-item p {
        font-size: 10px;
    }
}