/*TEMEL*/
.new-launches {
    margin-top: 400px;
    padding-top: 100px;
    height: 800px;
}

/* PRODUCTS BAR */
.new-launches .launches {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 150px;
    margin-top: 100px;
}

/* PRODUCT */
.new-launches .launches .launches-link {
    color: black;
    text-decoration: none;
    width: 33%;
    z-index: -10;
}

.new-launches .launches .launches-link .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.new-launches .launches .launches-link .product .image {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.new-launches .launches .launches-link .product-1 .image {
    background-image: url("../images/headphone-1.jpg");
}

.new-launches .launches .launches-link .product-2 .image {
    background-image: url("../images/headphone-2.jpg");
}

.new-launches .launches .launches-link .product-3 .image {
    background-image: url("../images/headphone-3.jpg");
}

/* HOVER VEZIYYETINDE ORTAYA CIXAN ICONLAR */
.new-launches .launches .launches-link .image .icon {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all ease-out;
    cursor: pointer;
}

.new-launches .launches .launches-link:hover .image .icon {
    opacity: 1;
    pointer-events: auto;
}

.new-launches .launches .launches-link .image .icon .fa-icon{
    width: auto;
    border-radius: 50%;
    padding: 11px 10px;
}

.new-launches .launches .launches-link .image .fav-icon .fa-icon{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: 0.2s all ease-out;
}

.new-launches .launches .launches-link .image .fav-icon .fa-icon:hover{
    color: black;
    border: 1px solid transparent;
    background-color: var(--yellow);
}

.new-launches .launches .launches-link .image .basket-icon .fa-icon{
    color: black;
    border: 1px solid transparent;
    background-color: var(--yellow);
    transition: 0.2s all ease-out;
}

.new-launches .launches .launches-link .image .basket-icon .fa-icon:hover {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

/* PRODUCT TITLE */
.new-launches .launches .launches-link .product-name {
    font-size: 20px;
}

.new-launches .launches .launches-link .product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.new-launches .launches .launches-link .product-price .price {

}

.new-launches .launches .launches-link .product-price .discount-price {
    color: rgba(150,150,150,1);
    text-decoration: line-through;
}